// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2022 MediaTek Inc.
 *
 */

#include <dt-bindings/memory/mt8195-memory-port.h>

/ {
	fragment@3 {
		target-path = "/soc";
		__overlay__ {
			cam_vcu: vcu@2 {
				compatible = "mediatek-vcu";
				mediatek,vcuid = <2>;
				mediatek,vcuname = "vcu2";
				iommus = <&iommu_vpp M4U_PORT_L23_VDEC_UFO_ENC_EXT>;
			};

			mtkcam0: mtkcam@0 {
				compatible = "mediatek,camera";
				mediatek,vcu = <&cam_vcu>;
				mediatek,cameraid = <0>;
				mediatek,platform = "platform:mtkcam0";
				iommus = <&iommu_vpp M4U_PORT_L23_VDEC_UFO_ENC_EXT>;
				status = "disabled";
			};

			mtkcam1: mtkcam@1 {
				compatible = "mediatek,camera";
				mediatek,vcu = <&cam_vcu>;
				mediatek,cameraid = <1>;
				mediatek,platform = "platform:mtkcam1";
				iommus = <&iommu_vpp M4U_PORT_L23_VDEC_UFO_ENC_EXT>;
				status = "disabled";
			};

			mtkcam2: mtkcam@2 {
				compatible = "mediatek,camera";
				mediatek,vcu = <&cam_vcu>;
				mediatek,cameraid = <2>;
				mediatek,platform = "platform:mtkcam2";
				iommus = <&iommu_vpp M4U_PORT_L23_VDEC_UFO_ENC_EXT>;
				status = "disabled";
			};

			mtkcam3: mtkcam@3 {
				compatible = "mediatek,camera";
				mediatek,vcu = <&cam_vcu>;
				mediatek,cameraid = <3>;
				mediatek,platform = "platform:mtkcam3";
				iommus = <&iommu_vpp M4U_PORT_L23_VDEC_UFO_ENC_EXT>;
				status = "disabled";
			};
		};
	};
};
