menu "Ubuntu Supplied Third-Party Device Drivers"


config UBUNTU_ODM_DRIVERS
	def_bool $(success,$(srctree)/debian/scripts/misc/arch-has-odm-enabled.sh $(DEB_ARCH))
	help
	  Turn on support for Ubuntu ODM supplied drivers

#
# NOTE: to allow drivers to be added and removed without causing merge
# collisions you should add new entries in the middle of the six lines
# of ## at the bottom of the list.  Always add three lines of ## above
# your new entry and maintain the six lines below.
#

##
##
##
source "ubuntu/mtk-apusys-driver/Kconfig"
##
##
##
source "ubuntu/mtk-mdp-driver/Kconfig"
##
##
##
source "ubuntu/mtk-vcodec-driver/Kconfig"
##
##
##
source "ubuntu/mtk-vcu-driver/Kconfig"
##
##
##
source "ubuntu/mtk-mali-gpu-driver/Mconfig"
##
##
##
source "ubuntu/ubuntu-host/Kconfig"
##
##
##
##
##
##

endmenu
